DATABASE_URL=postgresql://kip:kip_dev_password@localhost:5432/kip_portal?schema=public

NEXTAUTH_URL=http://localhost:4000
NEXTAUTH_SECRET=replace_me_openssl_rand_base64_32

EMAIL_SERVER_HOST=localhost
EMAIL_SERVER_PORT=1025
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM="KIP Portal <no-reply@unoc.local>"

NEXT_PUBLIC_API_URL=http://localhost:4001
